
.upperSmallCircle {
    position: absolute;
    border-radius: 50%;
    background-color: antiquewhite;
    top: 4vh;
    right: 5.34vw;
}


.lowerCircleImage {
    position: absolute;
    bottom: 7.03vh;
    right: 41.16vw;

}


.laptopImage {

    position: absolute;
    top: 28vh;
    right: 0;
}

.landingBackgroundCircle {
    position: absolute;
    right: 0px;
    bottom: 0px;
}